body {
    background: #141519;
    color: white;
}

.container {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 255px;
    height: 255px;
    background: #212832;
    border-radius: 20px;
    padding: 20px;
}

.image-star {
    background: #262E39;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
}

.text h1 {
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.text p {
    font-size: 13px;
    font-family: 'Overpass', sans-serif;
}

.notes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.number {
    width: 2rem;
    height: 2rem;
    background: white;
    color: #141519;
}

.submit {
    border-radius: 20px;
    background-color: #FB7713;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

footer {
    height: 5vh;
}

.attribution {
    vertical-align: bottom;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}