* {
    font-family: 'Overpass', sans-serif;
    color: white;
}

body {
    background: #141519;
}

.container {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 255px;
    height: 255px;
    background: #212832;
    border-radius: 20px;
    padding: 20px;
}

.image-star {
    background: #262E39;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
}

.text h1 {
    font-size: 20px;
    font-weight: 400;
}

.text p {
    font-size: 11px;
    color: hsl(216, 12%, 54%);
    line-height: 1.6em;
    
}

.notes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.selector {
    width: 2.2rem;
    height: 2.2rem;
    background: #262F38;
    color: hsl(216, 12%, 54%);
    border: none;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;   
}

.submit {
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
    font-size: 12px;
    font-weight: 400;
    padding: 8px;
    width: 100%;
    margin-top: 0.8rem;
}

footer {
    height: 5vh;
}

.attribution {
    vertical-align: bottom;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}